#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: #ECCED0;
	box-shadow: 2px 2px 2px #585858, 0 0 25px #585858, 0 0 25px #585858;
}
ul{
	overflow:hidden;
	align-content: center;
	font-family: "Segoe UI black", Calibri, sans-serif;
	font-size: 15px;
	font-style: italic;
	text-shadow: none;
}
li{
	display:inline-block;
	padding-left: 10px;
}
ol{
	align-content: center;
	alignment: center;
	font-family: "Segoe UI", Calibri, sans-serif;
	font-size: 15px;
}
body{
	background-color: #ECCED0;
	color: 	#585858;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("backr.jpg");
}
ul.aboutMe{
	align: center;
	font-family: "Segoe UI", Calibri, sans-serif;
	color: 	#585858;
	font-size: 15px;
	text-align: center;
	font-style: normal;
}
div{
	font-family: "Segoe UI black", Calibri, sans-serif;
	color: 	#ECCED0;
	font-size: 30px;
	font-style: italic;
	text-shadow: 2px 2px 2px #585858, 0 0 25px #585858, 0 0 25px #585858;
}
iframe{
	alignment-baseline: center;
}
form.section{
	font-family: "Segoe UI", Calibri, sans-serif;
	color: 	#585858;
	font-size: 15px;
	text-align: center;
}
textarea{
	font-family: "Segoe UI", Calibri, sans-serif;
	color: 	#585858;
	font-size: 15px;
	text-align: left;
	font-weight: normal;
}
p{
	font-family: "Segoe UI", Calibri, sans-serif;
	color: 	#585858;
	font-size: 15px;
	text-align: center;
}
a:link {
	color: 	#585858;
	text-effect: emboss;
}
a:visited{
	color: 	#585858;
}
button{
	background-color: #ECCED0;
	text-shadow: 2px 2px 10px #585858, 0 0 25px #585858, 0 0 30px #585858;
	color: #ECCED0;
	font-family: "Segoe UI black", Calibri, sans-serif;
	padding: 8px 26px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
}
hr{
	background-color: #585858;
	padding: 0 10px;
}
#center {
	margin: 0 auto;
	text-align: center;
}
table{
	align: center;
	font-family: "Segoe UI", Calibri, sans-serif;
	color: 	#585858;
	font-size: 15px;
	text-align: center;
	border: 10px #585858;
	background-color: #ECCED0;
}
h5{
	align-content: center;
	alignment: center;
	font-family: "Segoe UI", Calibri, sans-serif;
	font-size: 10px;
}
