
#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: #C7EFDF;
	box-shadow: 2px 2px 2px #585858, 0 0 25px #585858, 0 0 25px #585858;
}

ul{
	overflow:hidden;
	align-content: center;
	font-family: "Segoe UI black", Calibri, sans-serif;
	font-size: 15px;
	font-style: italic;
	text-shadow: none;
}
li{
	display:inline-block;
	padding-left: 10px;
}
ol{
	align-content: center;
	alignment: center;
	font-family: "Segoe UI", Calibri, sans-serif;
	font-size: 15px;
}
body{
	background-color: #AFE5D3;
	color: 	#585858;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("back.jpg");
}
ul.aboutMe{
	alignment: center;
	font-family: "Segoe UI", Calibri, sans-serif;
	color: 	#585858;
	font-size: 15px;
	text-align: center;
	font-style: normal;
	background-color:rgba(199, 239, 223, 0.5);
}

div{
	font-family: "Segoe UI black", Calibri, sans-serif;
	color: #FFE374;
	font-size: 30px;
	font-style: italic;
	text-shadow: 2px 2px 2px #585858, 0 0 25px #585858, 0 0 25px #585858;
}
iframe{
	alignment-baseline: center;
}
form.section{
	font-family: "Segoe UI", Calibri, sans-serif;
	color: 	#585858;
	font-size: 15px;
	text-align: center;
}
p{
	font-family: "Segoe UI", Calibri, sans-serif;
	color: 	#585858;
	font-size: 15px;
	text-align: center;
}
a:link {
	color: 	#585858;
	text-effect: emboss;
}
a:visited{
	color: 	#585858;
}
button{
	background-color: #AFE5D3;
	font-family: "Segoe UI black", Calibri, sans-serif;
	padding: 8px 26px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	color: 	#AFE5D3;
	font-style: italic;
	text-shadow: 2px 2px 2px #585858, 0 0 25px #585858, 0 0 25px #585858;
}
#center {
	margin: 0 auto;
	text-align: center;

}
table{
	align: center;
	font-family: "Segoe UI", Calibri, sans-serif;
	color: 	#585858;
	font-size: 15px;
	text-align: center;
	border: 10px #585858;
	font-weight: bold;
	background-color:rgba(175, 229, 211, 0.5);
}
div.form-popUp{
	width: 316px;
}
label{
	color: #AFE5D3;
}
table.playlistTable{
	align: center;
	font-family: "Segoe UI", Calibri, sans-serif;
	color: 	#585858;
	font-size: 15px;
	text-align: center;
	border: 10px #585858;
	background-color: transparent;
}
li.minLi{
	alignment: center;
	color: #FFE374;
	text-shadow: 2px 2px 2px #585858, 0 0 25px #585858, 0 0 25px #585858;
}
li.minLi2{
	alignment: center;
	color: #AFE5D3;
	font-size: 30px;
	text-shadow: 2px 2px 2px #585858, 0 0 25px #585858, 0 0 25px #585858;
}
